.flexo {
    padding: 1rem;
    background-color: rgba(52, 16, 143, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: left;
    font-weight: bolder;
    font-family: cursive;
    justify-items: center;
    justify-content: space-around;	
  }