

.righttoolbar{
  width:60%;
  height: auto;
  box-sizing: border-box;
  border-right:  0.5px  solid #e0e0e0;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 15%; 
}
.parent{
  margin-top: 0px;
  box-sizing: content-box;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border:  0.5px  solid #e0e0e0;
  display: flex;
  flex-direction: column;
}

.container{
  box-sizing: border-box;
  border:  0.5px  solid #e0e0e0;
  background: white;
  height: auto;
  margin: 10px;
  margin-left: 25%; 
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  box-sizing: border-box;
  width: 50%;
  padding: 5px;
  border-radius: 15px ;
 background-color:  rgba(158, 158, 158, 0.1);
}


.img{
  height: 70px;
  width: 70px;
  margin-left: 6%;
  margin-top: 15px;
  margin-bottom: 0px;
  position: absolute;
   border: 3px solid rgba(62, 69, 81, 0.3);
   border-radius: 50px;
}
/* */
.lab{
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #1a237e;
    text-align: left;
    margin-left: 18%;
    margin-top: 20px;
}

.btn{
    margin-top: 0px;
    margin-bottom: 15%;
    margin-left: 20%;
    text-align: center;
    background: rgba(63, 81, 181, 0.7);
    border-radius: 3px;
   /* box-shadow: 0 10px 20px -8px rgba(3, 169, 244, 0.7); */
    padding: 10px 17px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    height: 40px;
    position: absolute;
    align-items: left;
    justify-content: left;
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: bold;
  }

  .head {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #1a237e;
    text-align: left;
    font-size: 16px;
    margin-top: 1px;
}

.title{
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: inherit;
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-size: 16px;
  margin-left: 0px;
}



.section{
  height: auto;
  width: auto;
  margin-left: 10%;
}

#form-group{
  margin-left: 20%;
}



.ThumbsUp{
  margin-left: 24%;
  display: flex;
  flex-direction: row;
}

.votes{
  color: #1a237e;
  font-size:20px;
}




.containers{
  display: block;
  width: 84.5%;
  height: 10vh;
  box-sizing: border-box;
  border: 0.5px ;
  border:  0.5px  solid #e0e0e0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: inherit;
  color: #1a237e;
  margin-left: 15.5%;
  display: flex;
  flex-direction: row;
}


.containers ul {
  background: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1a237e;
  font-weight: bold;
  font-size: 30px;
  margin-left: 50px;
  margin-top: 5px;
}

.containers ul li {
  list-style: none;
  text-transform: uppercase;
  color: #1a237e;
  margin-left: 20px;
}

.links{
  list-style: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 0px;
}

.links:hover{
  list-style: none;
  color: #1a237e;
  text-decoration: none;
}

.titles{
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  color: rgba(0, 0, 0, 0.7);
  text-align: left;
  font-size: 25px;
  margin-left: 10px;
  margin-top: 10px;
}

.titles:hover{
  text-decoration: none;
  color: #1a237e;  
}

.parentc{
  margin-top: 0px;
  box-sizing: content-box;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border:  0.5px  solid #e0e0e0;
  display: flex;
  flex-direction: column;
}

.containerc{
  box-sizing: border-box;
  border:  0.5px  solid #e0e0e0;
  background: white;
  height: auto;
  margin: 10px;
  margin-left: 20%; 
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  box-sizing: border-box;
  width: 75%;
  padding: 5px;
  border-radius: 15px ;
 background-color:  rgba(158, 158, 158, 0.1);
}
.imgc{
  height: 50px;
  width: 50px;
  margin-left: 6%;
  margin-top: 5px;
  margin-bottom: 0px;
  position: absolute;
   border: 3px solid rgba(62, 69, 81, 0.3);
   border-radius: 50px;
}
.side{
  width: 25%;
  height: 100vh;
  box-sizing: content-box;
  border:  0.5px  solid #e0e0e0;
  flex-direction: column;
  justify-items: center;
  display: table-cell;
  position: fixed;
  background-color:rgba(158, 158, 158, 0.1);
  margin-left: 60%;
  margin-top: 0px;
}

.plane{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  color: #1a237e;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px ;
  margin-top: 0px;
  justify-items: center;
  justify-content: center;
  width: 100%;
}

.fields{
  color: rgba(0, 0, 0, 0.7);
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 20px;
  color: #424242;
}

.fields:hover{
  color: #1a237e;
  text-decoration: none;
}

.innerBox{
  box-sizing: border-box;
  border-radius: 10px;
  background-color:#bdbdbd;
  margin: 15px;
  height: 40vh;
  padding: 15px;
}



.buttn{
  height: auto;
  width: auto;
  display: table-cell;
  align-items: right;
  margin-top: 0px;
  position: relative;
  margin-left: 0px;
  margin-right: 5%;
}


.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background: #424242;
  border-radius: 3px;
 /* box-shadow: 0 10px 20px -8px rgba(3, 169, 244, 0.7); */
  padding: 5px 17px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  color:#e0e0e0 ;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 40px;
  width: 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  font-size: 12px;
  font-weight: bold;
  position: initial;
  align-items: left;
  justify-content: left;
  align-self: stretch;
}
.btn:hover {
    background-color: rgba(62, 69, 81, 0.7);
    color: wheat;
    
}

.innerBox2{
  box-sizing: border-box;
  border-radius: 10px;
  background-color:#bdbdbd;
  margin: 15px;
  height: 40vh;
  display: flex;
  flex-direction: row;
  color: #424242;
}

.img23{
position: absolute;
  height: 70px;
  width: 70px;
  margin-left: 120px;
  margin-top: 50px;
  margin-bottom: 0px;
  position: absolute;
   border: 3px solid rgba(62, 69, 81, 0.3);
   border-radius: 50px;
}
.heading{
  position: absolute;
  margin-top: 15px;
 margin-left: 125px;
}

.heading1{
  margin-left: 40px;
  margin-top: 150px;
  position: absolute;
}
@media (max-width: 768px){
  .side{
   display: none;
  }
  
.containers{
  display: block;
  width: 100%;
  height: 8vh;
  box-sizing: border-box;
  border: 0.5px ;
  border:  0.5px  solid #e0e0e0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: inherit;
  color: #1a237e;
  margin-left: 1px;
  display: flex;
  flex-direction: row;
}


.containers ul {
  background: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1a237e;
  font-weight: bold;
  font-size: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

.containers ul li {
  list-style: none;
  text-transform: uppercase;
  color: #1a237e;
  margin-left: 5px;
}

.links{
  list-style: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 0px;
}
/*--comment box---*/

.righttoolbar{
  width:100%;
  height: auto;
  box-sizing: border-box;
  border-right:  0.5px  solid #e0e0e0;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  margin-left: 1px; 
}
.parent{
  margin-top: 0px;
  box-sizing: content-box;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  border:  0.5px  solid #e0e0e0;
  display: flex;
  flex-direction: column;
}

.container{
  box-sizing: border-box;
  border:  0.5px  solid #e0e0e0;
  background: white;
  height: auto;
  margin: 10px;
  margin-left: 23%; 
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  box-sizing: border-box;
  width: 72%;
  padding: 5px;
  border-radius: 10px ;
 background-color:  rgba(158, 158, 158, 0.1);
}


.img{
  height: 70px;
  width: 70px;
  margin-left: 6px;
  margin-top: 15px;
  margin-bottom: 0px;
  position: absolute;
   border: 3px solid rgba(62, 69, 81, 0.3);
   border-radius: 50px;
}


.ThumbsUp{
  margin-left: 20%;
  display: flex;
  flex-direction: row;
}

.votes{
  color: #1a237e;
  font-size:20px;
}
.title{
  font-weight: lighter;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: inherit;
  color: #1a237e;
  text-align: left;
  font-size: 16px;
  margin-left: 0px;
}

.containerc{
  box-sizing: border-box;
  border:  0.5px  solid #e0e0e0;
  background: white;
  height: auto;
  margin: 10px;
  margin-left: 20%; 
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  box-sizing: border-box;
  width: 75%;
  padding: 5px;
  border-radius: 12px ;
 background-color:  rgba(158, 158, 158, 0.1);
}

.imgc{
  height: 50px;
  width: 50px;
  margin-left: 6px;
  margin-top: 15px;
  margin-bottom: 0px;
  position: absolute;
   border: 3px solid rgba(62, 69, 81, 0.3);
   border-radius: 50px;
}
}