.container{
    background: white;
    box-shadow: 0 0 20px  #9fa8da;
    height: 20vh;
   /* margin: auto; */
    margin-top: 5%;
    margin-left: 8%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: start;
    box-sizing: border-box;
    width: 35%;
    padding: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 5px ;
}

.title{
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #1a237e;
    text-align: left;
    font-size: 16px;
}

.head {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #1a237e;
    text-align: left;
    font-size: 14px;
    margin-top: 1px;
}


@media only screen and (max-width:767px){
    .container{
        background: white;
        box-shadow: 0 0 20px  #9fa8da;
        height: 20vh;
       /* margin: auto; */
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        align-items: left;
        justify-content: start;
        box-sizing: border-box;
        width: 64%;
        padding: 5px;
        overflow-y: scroll;
        scroll-behavior: smooth;
        border-radius: 5px ;
    }
    .head {
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: inherit;
        color: #1a237e;
        text-align: left;
        font-size: 14px;
        margin-top: 1px;
    }
}