.parent{
    margin-top: 20px;
    box-sizing: content-box;
    width: 100%;
    background-color: #e8eaf6;

}


.container{
    background: white;
    box-shadow: 
          0 0  0 2px #9fa8da;
    height: 20vh;
    margin: auto;
    margin-top: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    box-sizing: border-box;
    width: 90%;
   /* border: 2px solid #9fa8da; */ 
    padding: 5px;
}

.title{
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #1a237e;
    text-align: left;
}

.btn{
  margin-top: 70px;
  margin-left: auto;
  margin-bottom: auto;
  text-align: center;
  background: #ed2553;
  border-radius: 3px;
  box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
  padding: 10px 17px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}