body{
    height: 100vh;
    background-color: #e8eaf6;
}


.righttoolbar{
    width:85%;
    height: auto;
    box-sizing: border-box;
    border-right:  0.5px  solid #e0e0e0;
    margin-bottom: 0px;
    display: flex;
    margin-left: 15%; 
}

.parent{
    margin-top: 0px;
    box-sizing: content-box;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    border:  0.5px  solid #e0e0e0;
    display: flex;
    flex-direction: column;
}

.container{
    box-sizing: border-box;
    border:  0.5px  solid #e0e0e0;
    background: white;
    height: auto;
    margin: 10px;
    margin-left: 20%; 
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    padding: 5px;
    border-radius: 15px ;
   background-color:  rgba(158, 158, 158, 0.1);
}


.title{
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #1a237e;
    text-align: left;
    font-size: 16px;
}
.head {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #1a237e;
    text-align: left;
    font-size: 18px;
    margin-top: 2px;
}


.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background: rgba(3, 169, 244, 0.3);
  border-radius: 3px;
 /* box-shadow: 0 10px 20px -8px rgba(3, 169, 244, 0.7); */
  padding: 5px 17px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  color:#1a237e ;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 40px;
  width: 80px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  font-size: 12px;
  font-weight: bold;
  position: initial;
  align-items: left;
  justify-content: left;
  align-self: stretch;
}
.btn:hover {
    background-color: rgba(0, 188, 212, 0.7);
    color: wheat;
    
}


.comments{
    display: flex;
    flex-direction: column;
    margin-bottom : 0px;
    position: relative;
    color: #1c2a48 ;
    box-sizing: border-box;
    justify-content: space-between;
    margin-left: 20%;
    margin-top: 0px;
    align-self: auto;
    margin-bottom: 10px;
}

.comment{
    color: #1c2a48 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 30%;
    margin-inline-start: auto;
}
.comments:hover{
    text-decoration: none;
}
.buttn{
    height: auto;
    width: auto;
    display: table-cell;
    align-items: right;
    margin-top: 5px;
    position: absolute;
    margin-left: 55%;
}

.comment:hover{
    text-decoration: none;
}
.comments:hover{
    text-decoration: none;
}
.aside{
    height: 100%;
    width: 20%;
    align-items: right;
    margin-top: 0px;
}


.img{
    height: 50px;
    width: 50px;
    margin-left: 6%;
    margin-top: 15px;
    margin-bottom: 0px;
    position: absolute;
     border: 3px solid rgba(62, 69, 81, 0.3);
     border-radius: 50px;
}


/*-----------------------------mobile version----------------------------------*/


@media (max-width: 768px){
    .righttoolbar{
        width:100%;
        height: auto;
        box-sizing: border-box;
        border-right:  0.5px  solid #e0e0e0;
        margin-bottom: 0px;
        display: flex;
        margin-left: 1px; 
    }
    
    .parent{
        margin-top: 0px;
        box-sizing: content-box;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        border:  0.5px  solid #e0e0e0;
        display: flex;
        flex-direction: column;
    }
    
    .container{
        box-sizing: border-box;
        border:  0.5px  solid #e0e0e0;
        background: white;
        height: auto;
        margin-left: 20%; 
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        box-sizing: border-box;
        width: 58%;
        padding: 5px;
        border-radius: 10px ;
       background-color:  rgba(158, 158, 158, 0.1);
    }
    
    
    .title{
        font-weight: lighter;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: inherit;
        color: #1a237e;
        text-align: left;
        font-size: 16px;
        margin-top: 0px;
    }
    .head {
        font-weight: bold;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: inherit;
        color: #1a237e;
        text-align: left;
        font-size: 18px;
        margin-top: 2px;
    }
    
    
    .btn{
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
      background: rgba(3, 169, 244, 0.3);
      border-radius: 3px;
     /* box-shadow: 0 10px 20px -8px rgba(3, 169, 244, 0.7); */
      padding: 0px 10px;
      font-size: 16px;
      cursor: pointer;
      border: none;
      outline: none;
      color:#1a237e ;
      text-decoration: none;
      -webkit-transition: 0.3s ease;
      transition: 0.3s ease;
      height: 42px;
      width: 70px;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-style: oblique;
      font-size: 14px;
      font-weight: bold;
      position: absolute;
      align-items: left;
      justify-content: left;
      align-self: stretch;
    }
    .btn:hover {
        background-color: rgba(0, 188, 212, 0.7);
        color: wheat;
        
    }
    
    
    .comments{
        display: flex;
        flex-direction: column;
        margin-bottom : 0px;
        position: relative;
        color: #1c2a48 ;
        box-sizing: border-box;
        justify-content: space-between;
        margin-left: 20%;
        margin-top: 0px;
        align-self: auto;
        margin-bottom: 10px;
    }
    
    .comment{
        color: #1c2a48 ;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-style: oblique;
        font-weight: bold;
        margin-top: 10px;
        margin-left: 30%;
        margin-inline-start: auto;
    }
    .comments:hover{
        text-decoration: none;
    }
    .buttn{
        height: auto;
        width: auto;
        display: table-cell;
        align-items: right;
        margin-top: 10px;
        position: absolute;
        margin-left: 79%;
    }
    
    .comment:hover{
        text-decoration: none;
    }
    .comments:hover{
        text-decoration: none;
    }
    .aside{
        height: 100%;
        width: 20%;
        align-items: right;
        margin-top: 0px;
    }
    
    
    .img{
        height: 60px;
        width: 60px;
        margin-left: 2%;
        margin-top: 15px;
        margin-bottom: 0px;
        position: absolute;
         border: 3px solid rgba(62, 69, 81, 0.3);
         border-radius: 40px;
    }
    
}