body{
    height: 100vh;
    background-color: #e8eaf6;
}


.parent{
    margin-top: 20px;
    box-sizing: content-box;
    width: 100%;
   
}

.container{
    background: white;
    box-shadow: 0 0 20px  #9fa8da;
    height: 40vh;
   /* margin: auto; */
    margin-top: 0px;
    margin-left: 45%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: start;
    box-sizing: border-box;
    width: 45%;
    padding: 5px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    border-radius: 5px ;
}


.title{
    font-weight: lighter;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #1a237e;
    text-align: left;
    font-size: 16px;
}
.head {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #1a237e;
    text-align: left;
    font-size: 18px;
    margin-top: 2px;
}


.btn{
  margin-top: 0px;
  margin-bottom: auto;
  margin-left: 215px ;
  text-align: center;
  background: #ed2553;
  border-radius: 3px;
  box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
  padding: 10px 17px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  height: 40px;
  font-size: 10px;
  position: relative;
  align-items: left;
  justify-content: left;
}
.btn:hover {
    background-color: #b71c1c;
    color: #ef5350;
    
}


.comments{
    margin-bottom: auto;
    margin-right: 0px;
    position: relative;
    color: #1a237e;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 130px;
}


@media only screen and (max-width:767px){
    .container{
        height: 30vh;
        width: 70%;
        padding: 5px;
    }
    .head {
        font-size: 15px;
        margin-top: 2px;
    }
    
.title{
    font-size: 14px;
   }
   .btn{
    margin-top: 130px;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
  }
  
.comments{
   font-size: 12px;
   margin-top: 140px;
   margin-right:5px ;
}
}
