

.loginstuff {
height: 100%;
width: 80%;
margin-left: 20%;
margin-top: 0px;
position: absolute;
background-color: #e0e0e0;
}
.mobile{
    display: none;
}
.back{
    background-image: url('../../assets/man.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60%;
    width: 100%;
    margin-top: 0px;
    position: absolute;
}
.head{
    margin-top:10px;
    margin-left: 17%;
    color: #212121;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: inherit;
    font-weight: bold;
}

.head2{
    margin-top:5px;
    margin-left: 35%;
    color: #212121;
}
.head3{
    margin-top:5px;
    margin-left: 18%;
    color: #212121;
    font-weight: bold;
    position: relative;
}
.head4{
    margin-top:5px;
    margin-left: 23%;
    color: #212121;
}
.Cards{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    width: auto;
}
.man{
    height: 330px;
}
.button{
    display: block;
    margin-top: 0%;
    margin-left: 45%;
}
.buts{
    color: #e0e0e0;
    text-decoration: none;
    text-transform: capitalize;
    padding: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
}
@media only screen and (max-width:767px) {
    .loginstuff {
        background-color: #e0e0e0;
        height: 88%;
        width: 100%;
        margin-left: 0px;
        margin-top: 12vh;
        position: absolute;
     }
     .mobile{
         display: block;
         margin-left: 5%;
         margin-right: 5%;
     }
     .smallman{
         height: 250px;
     }
.head{
    margin-top:20px;
    margin-left: 5%;
    color: #212121;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: inherit;
    font-weight: bold;
    font-size: 14px;
}

.head2{
    font-size: 14px;
    font-weight: bold;
    margin-top:10px;
    margin-left: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: inherit;
    color: #212121;
}
.head3{
    font-size: 14px;
    margin-top:15px;
    margin-left: 5%;
    color: #212121;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: inherit;
    font-weight: bold;

}
.head4{
    margin-top:75px;
    margin-left: 20%;
    color: black;
    font-size: 24px;
}
.Cards{
   display: none;
}

.button{
    display: block;
    margin-top: 0%;
    margin-left: 40%;
    width: auto;
    align-items: center;
    font-size: 14px;
}
.buts{
    color: #e0e0e0;
    font-size: 14px;
}
}