.Loginstyle {
    display: flex;
    background-color:#1a237e ;
    height: 60vh;
    color: #e8eaf6;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
    margin-top: 10%;
    width: 40%;
    border: 3px solid #3949ab;
    padding: 10px;
    border-radius: 20px;
}

.back {
    background: -webkit-linear-gradient(to left, #8f94fb, #c5cae9);   
    height: 80vh;
    display: flex;
}


.header {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #1a237e;
    text-align: center;
    margin-bottom:20px;
    padding-top: 5px;
    margin-top: 2px;
    margin-left: 35%;
    position: fixed;
}

.images{
    height: 50%;
    width: 20%;
    margin-left: 2%;
    margin-top: 10%;
}

@media only screen and (max-width:767px) {
    .Loginstyle {
        margin-left: 8%;
        margin-top: 35%;
        height: 40vh;
        width: 60%;
        border: 3px solid #3949ab;
        padding: 10px;
        border-radius: 20px;
    }
   
.header {
    margin-bottom:10px;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 25%;
    position: fixed;
    font-size: 30px;
}
.images{
    height: 50%;
    width: 25%;
    margin-left: 2%;
    margin-top: 30%;
}

.loginstuff{
    text-align: center;
    margin-left: 100px;
}

.h4 .h5 .h3 {
    text-align: center;
    margin-left: 100px;
}
    
}