.loginstuff {
height: 60vh;
width: 60vw;
margin-left: 30%;
margin-top: 5%;
box-sizing: border-box;
border:  0.5px  solid #e0e0e0;
position: absolute;
background-color: #757575;
border-radius: 10px;
}

.head{
    margin-top:20px;
    margin-left: 15%;
    color: #e0e0e0;
}

.head2{
    margin-top:5px;
    margin-left: 35%;
    color: #e0e0e0;
}
.head3{
    margin-top:5px;
    margin-left: 30%;
    color: #e0e0e0;
}
.head4{
    margin-top:5px;
    margin-left: 23%;
    color: #e0e0e0;
}
.button{
    display: block;
    margin-top: 20%;
    margin-left: 40%;
    width: auto;

}
.buts{
    height: 100%;
    background-color: black;
    color: #e0e0e0;
}
@media only screen and (max-width:767px) {
    .loginstuff {
        height: 75vh;
        width: 70vw;
        margin-left: 15%;
        margin-top: 5%;
        box-sizing: border-box;
        border:  0.5px  solid #e0e0e0;
        position: absolute;
        background-color: #757575;
        border-radius: 10px;
        }
    
.head{
    margin-top:20px;
    margin-left: 10%;
    color: #e0e0e0;
    font-size: 20px;
}

.head2{
    margin-top:10px;
    margin-left: 10%;
    font-size: 20px;
    color: #e0e0e0;
}
.head3{
    margin-top:5px;
    margin-left: 10%;
    font-size: 20px;
    color: #e0e0e0;
}
.head4{
    margin-top:75px;
    margin-left: 20%;
    color: black;
    font-size: 24px;
}

.button{
    display: block;
    margin-top: 35%;
    margin-left: 35%;
    width: auto;

}
.buts{
    height: 100%;
    background-color: black;
    color: #e0e0e0;
}
}