*{ margin: 0; padding: 0; }
.Menustyle{
    width:100%;
    height: 80px;
    background: #1a237e;
    color: white;
    display: flex;
} 

.Menustyle ul {
    background:#c5cae9 ; 
    list-style: none;
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    border-radius: 10px 0px 0px 10px ;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.Menustyle ul li {
    list-style: none;
    text-transform: uppercase;
    color: white;
}

.links{
    list-style: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-style: inherit;
    font-weight: bold;
}

.links:hover {
    color: #4285F4;
    background-color: #1a237e;
    transition: 0.9s;
}

.links:active{
    color:#1a237e;
}

.links:focus{
    color: #1a237e;
}

@media only screen and (max-width:767px) {
  .Menustyle  {
    width:100%;
    height: 50px;
}
.Menustyle ul{
    width: 450px;
    height: 50px;
    font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
}
}

