*{ margin: 0; padding: 0; }

.mobile{
    display: none;
}
.Menustyle{
    background-image: url('../../assets/brain-smally.png');
    background-repeat: no-repeat;
    background-position-y: 80%;
    background-position-x:50% ;
    background-size: 140%;
    width: 20%;
    height: 98vh;
    color: #1a237e;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    position: fixed;
    text-align: left;
    box-sizing: border-box;
    border-right:  1px  solid #e0e0e0;
    margin-top: 0px;
} 

.Menustyle ul {
    background: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 20vh;
    margin-top: 120px;
    align-items: center;
    margin-left: 25px;
    justify-content: space-evenly;
    border-radius: 10px 0px 0px 10px ;
    color: #1a237e;
    font-weight: bold;
    font-size: 18px;
    background-color: transparent;
}

.Menustyle ul li {
    list-style: none;
    text-transform: uppercase;
    color: black;
    margin-left: 0px;
    margin-top: 0px;
}

.links{
    list-style: none;
    text-transform: uppercase;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-style: inherit;
    font-weight: bold;
    margin-left: 0px;
    font-size: 20px;
    padding-top: 5%;
    width: 100%;
}
.links:hover{
    color: #e0e0e0;
    text-decoration: none;
}

.links:active{
    color:#1a237e;
}

.links:focus{
    color: #1a237e;
    text-decoration: none;
}


.addidea{
    list-style: none;
    text-transform: uppercase;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-style: inherit;
    font-weight: bold;
    margin-left: 0px;
    font-size: 20px;
    border: #ffff00;
    background-color: #ffff00;
    border-radius: 15px;
   height: 65px;
   width: 80%;
   align-items: center;
   margin-left: 25px;
    margin-top: 95px;
}
.addidea:hover{
    color: white;
}
.logs{
    height: 5vh;
    width: 50%;
    margin-top: 5px;
}


.nots{
    list-style: none;
    text-transform: uppercase;
    color: #42a5f5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-style: inherit;
    font-weight: bold;
    margin-left: 0px;
    border: white;
    background-color:white;
    border-radius: 15px;
   height: 65px;
   width: 80%;
   align-items: center;
   margin-left: 32px;
    margin-top: 0px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.nots:hover{
    color: white;
    background-color: #ffff00;
    text-decoration: none;
}




/*---------------------mobile resposive version*---------------------*/


  @media (max-width: 768px)
  {
    .mobile{
        display: block;
        margin: 0px;
        width: 100%;
    }
    .inner{
        display: flex;
        flex-direction: row;
        margin-left:auto;
    }
    .container{
       margin-left: 70%;
      }
      .Menustyle{
        display: none;
    } 
    .moblogo{
        width: auto;
        height: auto;
    }
    .mrauto{
        margin-top: 5px;
        margin-right: 2px;
    }
    .innerbox{
        display: flex;
        flex-direction: row;
    }
}