*{ margin: 0; padding: 0; }

.mobile{
    display: none;
}
.Menustyle{
    widows: 18%;
    height: 98vh;
    background: white;
    color: #1a237e;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    position: fixed;
    text-align: left;
    box-sizing: border-box;
    border-right:  0.5px  solid #e0e0e0;
    margin-top: 0px;
} 

.Menustyle ul {
    background: white;
    list-style: none;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 30vh;
    margin-top: 10px;
    align-items: center;
    margin-left: 0px;
    justify-content: space-evenly;
    border-radius: 10px 0px 0px 10px ;
    color: #1a237e;
    font-weight: bold;
    font-size: 18px;
}

.Menustyle ul li {
    list-style: none;
    text-transform: uppercase;
    color: #1a237e;
    margin-left: 0px;
    margin-top: 0px;
}

.links{
    list-style: none;
    text-transform: uppercase;
    color: #1a237e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-style: inherit;
    font-weight: bold;
    margin-left: 0px;
    font-size: 20px;
    padding-top: 5%;
    width: 100%;
}
.links:hover{
    color: #e0e0e0;
    text-decoration: none;
}

.links:active{
    color:#1a237e;
}

.links:focus{
    color: #1a237e;
    text-decoration: none;
}


.addidea{
    list-style: none;
    text-transform: uppercase;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-style: inherit;
    font-weight: bold;
    margin-left: 0px;
    border: lightseagreen;
    background-color: lightseagreen;
    border-radius: 15px;
   height: 65px;
   width: 78%;
   align-items: center;
   margin-left: 30px;
    margin-top: 20px;
}

.addidea:hover{
    color: white;
    background-color: #1a237e;
    text-emphasis-color: white;

}


.logs{
    height: 5vh;
    width: 50%;
    margin-top: 5px;
}


.nots{
    list-style: none;
    text-transform: uppercase;
    color: #42a5f5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-style: inherit;
    font-weight: bold;
    margin-left: 0px;
    border: white;
    background-color: white;
    border-radius: 15px;
   height: 75px;
   width: 80%;
   align-items: center;
   margin-left: 22px;
    margin-top: 0px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}

.nots:hover{
    color: white;
    background-color: lightseagreen;
    text-decoration: none;
}




/*---------------------mobile resposive version*---------------------*/


  @media (max-width: 768px)
  {
    .mobile{
        display: block;
        margin: 0px;
    }
      .Menustyle{
        display: none;
    } 
    
}