#classicformpage .view {
    background-image: url("http://mdbootstrap.com/img/Photos/Others/images/91.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;
  }
  
  #classicformpage .gradient {
    background: -webkit-linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
    background: -webkit-gradient(
      linear,
      45deg,
      from(rgba(0, 0, 0, 0.7), rgba(72, 15, 144, 0.4) 100%)
    );
    background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0.7),
      rgba(72, 15, 144, 0.4) 100%
    );
  }
  
  #classicformpage .card {
    background-color: rgba(126, 123, 215, 0.2);
  }
  
  #classicformpage h6 {
    line-height: 1.7;
  }
  
  #classicformpage .navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  
  #classicformpage .top-nav-collapse {
    background: #424f95 !important;
  }
  
  #question{
    display: block;
    color: #1a237e;
    font-size: 20px;
    font-weight: bold;
    margin-left: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
}
#question1{
  display: block;
    color: #1a237e;
    font-size: 16px;
    font-weight: bold;
    margin-left: 150px;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
}
#answer{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
  color: #1a237e;
  font-size: 16px;
  margin-left: 160px;
  justify-content: center;
  width: 30%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;

}
#answers{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
  color: #1a237e;
  font-size: 16px;
  margin-left: 160px;
  text-align: inherit;
  height: 0px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
}
#answerss{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: block;
  color: #1a237e;
  font-size: 16px;
  margin-left: 160px;
  text-align: inherit;
  height: 3vh;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
}

#words{
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  display: flex;
  flex-direction: column;
  width: 40vw;
  height: 5vh;
  justify-content: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;
}

#wordss{
  margin-top: 50px;
  justify-content: left;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: normal;

}

#link{
color: #1565c0;

}
  @media (max-width: 768px) {
    #classicformpage .navbar:not(.top-nav-collapse) {
      background: #424f95 !important;
    }
  }
  
  #classicformpage label {
    color: #fff !important;
  }




  #text{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: inherit;
    color: #1a237e;
    text-align: center;
    font-size: 20px;
    height: 10vh;
    margin-top: 30px;
  }


  @media only screen and (max-width:767px){
    #text{
      font-size: 16px;
      height: 20vh;
      margin-top: 25px;
      margin-bottom: 10px;
    }
    #question{
      font-size: 14px;
      margin-left: 2px;
      margin-top: 5px;
      
  }
  #question1{
      font-size: 14px;
      
      margin-left: 2px;
      margin-bottom: 5px;

  }
  #answer{
    margin-left: 2px;
    font-size: 14px;
    /*justify-content: center; */
    width: 50%;
    height: 60vh;
  }
  #answers{
    font-size: 14px;
    margin-left: 2px;
    text-align: inherit;
    height: 0px;
  }
  #answerss{
    font-size: 14px;
    margin-left: 2px;
    text-align: inherit;
    height: 3vh;
  }
  
  #words{
    width: 40vw;
    height: 5vh;
    justify-content: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    margin-left: 2px;
  }
  
  #wordss{
    margin-top: 50px;
    justify-content: left;
  }
  }


