*{ margin: 0; padding: 0; }

.main{
  width: auto;
  height: auto;
  display: table;
  width: 100%;
  margin: 0px;
}

.container{
  display: block;
  width: 84%;
  height: 15vh;
  box-sizing: border-box;
  border: 0.5px ;
  border:  0.5px  solid #e0e0e0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: inherit;
  color: #1a237e;
  margin-left: 16%;
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  position: static;
}


.container ul {
  background: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1a237e;
  font-weight: bold;
  font-size: 18px;
  margin-left: 50px;
  margin-top: 0px;
}

.container ul li {
  list-style: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 60px;
  margin-top: 5px;
}

.links{
  list-style: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 0px;
  margin-top: 5px;
}

.links:hover{
  list-style: none;
  color: #1a237e;
  text-decoration: none;
}

.side{
  width: 20%;
  height: 100vh;
  box-sizing: content-box;
  border:  0.5px  solid #e0e0e0;
  flex-direction: column;
  justify-items: center;
  display: table-cell;
  position: sticky;
  background-color:rgba(158, 158, 158, 0.1);
  overflow-x: scroll;
}

.plane{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  color: #424242;
  font-size: 18px;
  font-weight: bold;
 /* padding-top: 10px ; */
  margin-top: 0px;
  justify-items: center;
  justify-content: center;
  width: 100%;
}

.fields{
  color: #424242;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 3px;
}

.fields:hover{
  text-decoration: none;
}

.innerBox{
  box-sizing: border-box;
  border-radius: 10px;
  background-color:#bdbdbd;
  margin: 15px;
  height: 50vh;
  padding: 15px;
}
.innerBox2{
  box-sizing: border-box;
  border-radius: 10px;
  background-color:#bdbdbd;
  margin: 15px;
  height: 20vh;
  padding: 15px;
}

/*----------------------------mobile version-----------------------------------------*/



@media (max-width: 768px){
  .side{
   display: none;
  }
  
.container{
  display: block;
  width: 100%;
  height:8vh;
  box-sizing: border-box;
  border:  2px  solid #e0e0e0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: inherit;
  color: #1a237e;
  margin-left: 0px;
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  
}


.container ul {
  background: white;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #1a237e;
  font-weight: bold;
  font-size: 18px;
  margin-left: 0px;
  margin-top: 0px;
  width: 100%;
}

.container ul li {
  list-style: none;
  text-transform: uppercase;
  color: #1a237e;
  margin-top: 10px;
  margin-left: 35px;
}

.links{
  list-style: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  margin-left: 0px;
  margin-top: 10px;
}
}

